<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript"></script>
    <iframe id="dseditor" src="<%= htmlWebpackPlugin.options.domain %>?embed=1&dataset=0&storage=0&footer=0browsercheck=0" style="
                margin: 0;
                border: none;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            ">
    </iframe>
</body>

</html>